h1 {background-color: aquamarine;}
.judul
{
    background-color: black; 
    color: pink;
    font-size: 25px;
    font-weight: bold;
}
.img-judul{width: 300px;}
.formatForm
{
    background-color: aqua;
    color:blueviolet;
    font-size: 25px;
    font-weight: bold;
}