<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <%- include('header') %>
    <p class="formatForm">PRODUCT FORM</p>
    <form action="/add-product" method="post">
    <div>
        <label for="Name">Product Name :</label><br>
        <input type="text" id="productName" name="name"><br>
    </div>
    <div>
        <label for="Price">Product Price :</label><br>
        <input type="number" id="productPrice" name="price"><br>
    </div>
    <div>
        <label for="Stock">Stock Unit :</label><br>
        <input type="number" id="stockUnit" name="stock"><br>
    </div>
    <button type="submit">ADD</button>
    </form>
    <ul>
    <%- include('footer') %>
</body>
</html>