<!--Untuk menu halaman-->
<header>
    <ul>
        <li>
            <a href="/">HOME</a>
        </li> <!--pathnya sesuai dgn localhost kt kl html biasa pakai url page html-->
        <li>
            <a href="/product">PRODUCT</a>
        </li>
        <li>
            <a href="/user">MEMBER</a>
        </li>
        <li>
            <a href="/form">ADD PRODUCT</a>
        </li>
    </ul>
</header>