<!--Untuk menu halaman-->
<header>
        
        <li>
            <a href="/">HOME</a>
        </li> <!--pathnya sesuai dgn localhost kt kl html biasa pakai url page html-->
        <li>
            <a href="/store">STORE</a>
        </li>
        <li>
            <a href="/product">PRODUCT</a>
        </li>
        <li>
            <a href="/transaction">TRANSACTION</a>
        </li>
        <li>
            <a href="/customer">CUSTOMER</a>
        </li>
        <li>
            <a href="/form">ADD PRODUCT</a>
        </li>
    
</header>